.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* sections  */
div#navbar{
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}
div#text-1{
  background-color: hsl(256, 26%, 20%);
  color: white;
  height: 550px;
}

div#third{
  background-color: hsl(256, 26%, 20%);
  color: white;
}


/* text */

h1,h2,h3,h4,h5,h6 {
  font-family: 'DM Serif Display', serif;

}

p{
  font-family: 'Karla', sans-serif;
}